// look up how and what to do in this file

// can define variable names among other things.


#weather-card {
    background: linear-gradient(to right, #5fdcff, #1b3684);
    text-align: center;
}

// #weather-input { // text box
//     width: 80px;
//     display: flex;
//     position: absolute;
//         top: 5%;
//         right: 40%;
//         transform: translate(-50%, -50%);
// }

#search-button {
    background-color: rgb(121, 119, 119);
}

#temperature-icon {
    height: 200px;
}

#temperature-text {
    font-size: 3rem; // emphemeral unit, reference default is 16px
}

#location-text {
    font-size: 1.2rem;
    margin-bottom: 25px;
}

#footer-temperature-container {
    display: flex;
    flex-direction: row; // this is default and line not needed but yea
    justify-content: space-evenly;
    font-size: 1.2rem;
}
